<%@ Page Language="VB" MasterPageFile="~/ScreenLOBView.master" AutoEventWireup="false" Inherits="clsCorePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LOBPageName" Runat="Server">
 <h1>Park Home</h1>
 <div id="pageDescription" runat="server" visible="false"></div>
</asp:Content>
