<%@ Page Language="VB" MasterPageFile="~/ScreenLOBSingle.master" AutoEventWireup="false" Inherits="clsCorePage" %>
<%@ Register Src="../PostcodeSearch.ascx" TagName="PostcodeSearch" TagPrefix="uc1" %>
<%@ Register Src="../vehiclesearch.ascx" TagName="VehicleSearch" TagPrefix="uc2" %>
<%@ Register TagPrefix="tes_webcontrols" Namespace="TES_WebControls" Assembly="TES_WebControls" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LOBPageName" Runat="Server">
 <h1 id="pageHeading" runat="server">Home Emergency Details</h1>
 <div id="pageDescription" runat="server" visible="false"></div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="LOBData" Runat="Server">
 <div class="datacapture">
     <fieldset>
         <legend>Home Emergency Details</legend>
         <ol class="formlayout">
             <li id="subUSER_CGHOM_HED__MR_ID__0" runat="server" style="display:none;"></li>
             <li id="pUSER_CGHOM_HED__MR_ID__0">
                 <span class="required"><tes_webcontrols:tgslimage id="imgUSER_CGHOM_HED__MR_ID__0" runat="server" UseBranding="True" ImageFileName="required.gif" ImageUrl="~/images/required.gif"></tes_webcontrols:tgslimage></span>
                 <tes_webcontrols:TGSLLabel ID="lblUSER_CGHOM_HED__MR_ID__0" runat="server" AssociatedControlID="USER_CGHOM_HED__MR_ID__0">cboMR</tes_webcontrols:TGSLLabel>
                 <span class="control"><tes_webcontrols:TGSLGetListDropDown id="USER_CGHOM_HED__MR_ID__0" runat="server" ListViewName="hem_main_cover_view"></tes_webcontrols:TGSLGetListDropDown>&nbsp;<tes_webcontrols:TGSLRequiredValidator ID="reqUSER_CGHOM_HED__MR_ID__0" runat="server" Branded="False" ControlToValidate="USER_CGHOM_HED__MR_ID__0" Display="Dynamic" ShowMandatory="False" EnableClientScript="False" ErrorMessage="cboMR" Override="True" OverrideErrorMessage="*Required"></tes_webcontrols:TGSLRequiredValidator></span>
             </li>
             <li id="subUSER_CGHOM_HED__HC_ID__0" runat="server" style="display:none;"></li>
             <li id="pUSER_CGHOM_HED__HC_ID__0">
                 <span class="required"><tes_webcontrols:tgslimage id="imgUSER_CGHOM_HED__HC_ID__0" runat="server" UseBranding="True" ImageFileName="required.gif" ImageUrl="~/images/required.gif"></tes_webcontrols:tgslimage></span>
                 <tes_webcontrols:TGSLLabel ID="lblUSER_CGHOM_HED__HC_ID__0" runat="server" AssociatedControlID="USER_CGHOM_HED__HC_ID__0">cboHC</tes_webcontrols:TGSLLabel>
                 <span class="control"><tes_webcontrols:TGSLGetListDropDown id="USER_CGHOM_HED__HC_ID__0" runat="server" ListViewName="hem_hh_hp_ph_view"><relatedControl ctl="USER_CGHOM_HED__HPCOVER_ID__0_ctl" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HPCOVER_ID__0" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__TCARA_ID__0_ctl" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__TCARA_ID__0" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__MH_ID__0_ctl" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__MH_ID__0" type="enable" IDs="3RV43E39|3RV43EF1||3RV43EM5" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__CITY__0_ctl" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__CITY__0" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__HOUSE__0_ctl" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HOUSE__0" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__LOCALITY__0_ctl" type="enable" IDs="3RV7EF42|" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__LOCALITY__0" type="enable" IDs="3RV7EF42|" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__POSTCODE__0_ctl" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__POSTCODE__0" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__STREET__0_ctl" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__STREET__0" type="enable" IDs="3RV7EF42" enable="False" page="hed.aspx" /></tes_webcontrols:TGSLGetListDropDown>&nbsp;<tes_webcontrols:TGSLRequiredValidator ID="reqUSER_CGHOM_HED__HC_ID__0" runat="server" Branded="False" ControlToValidate="USER_CGHOM_HED__HC_ID__0" Display="Dynamic" ShowMandatory="False" EnableClientScript="False" ErrorMessage="cboHC" Override="True" OverrideErrorMessage="*Required"></tes_webcontrols:TGSLRequiredValidator></span>
             </li>
             <li id="subUSER_CGHOM_HED__HPCOVER_ID__0" runat="server" style="display:none;"></li>
             <li id="pUSER_CGHOM_HED__HPCOVER_ID__0">
                 <span class="required"><tes_webcontrols:tgslimage id="imgUSER_CGHOM_HED__HPCOVER_ID__0" runat="server" UseBranding="True" ImageFileName="required.gif" ImageUrl="~/images/required.gif"></tes_webcontrols:tgslimage></span>
                 <tes_webcontrols:TGSLLabel ID="lblUSER_CGHOM_HED__HPCOVER_ID__0" runat="server" AssociatedControlID="USER_CGHOM_HED__HPCOVER_ID__0">cboHPCover</tes_webcontrols:TGSLLabel>
                 <span class="control"><tes_webcontrols:TGSLGetListDropDown id="USER_CGHOM_HED__HPCOVER_ID__0" runat="server" ListViewName="hem_hp_cover_view"><relatedControl ctl="USER_CGHOM_HED__HC_ID__0_ctl" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HC_ID__0" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__TCARA_ID__0_ctl" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__TCARA_ID__0" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__MH_ID__0_ctl" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__MH_ID__0" type="enable" IDs="3RV4GQU4|3RV4GR38||3RV4GR84" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__CITY__0_ctl" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__CITY__0" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__HOUSE__0_ctl" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HOUSE__0" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__LOCALITY__0_ctl" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__LOCALITY__0" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__POSTCODE__0_ctl" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__POSTCODE__0" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__STREET__0_ctl" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__STREET__0" type="enable" IDs="3RV7EH56" enable="False" page="hed.aspx" /></tes_webcontrols:TGSLGetListDropDown>&nbsp;<tes_webcontrols:TGSLRequiredValidator ID="reqUSER_CGHOM_HED__HPCOVER_ID__0" runat="server" Branded="False" ControlToValidate="USER_CGHOM_HED__HPCOVER_ID__0" Display="Dynamic" ShowMandatory="False" EnableClientScript="False" ErrorMessage="cboHPCover" Override="True" OverrideErrorMessage="*Required"></tes_webcontrols:TGSLRequiredValidator></span>
             </li>
             <li id="subUSER_CGHOM_HED__TCARA_ID__0" runat="server" style="display:none;"></li>
             <li id="pUSER_CGHOM_HED__TCARA_ID__0">
                 <span class="required"><tes_webcontrols:tgslimage id="imgUSER_CGHOM_HED__TCARA_ID__0" runat="server" UseBranding="True" ImageFileName="required.gif" ImageUrl="~/images/required.gif"></tes_webcontrols:tgslimage></span>
                 <tes_webcontrols:TGSLLabel ID="lblUSER_CGHOM_HED__TCARA_ID__0" runat="server" AssociatedControlID="USER_CGHOM_HED__TCARA_ID__0">cboTCara</tes_webcontrols:TGSLLabel>
                 <span class="control"><tes_webcontrols:TGSLGetListDropDown id="USER_CGHOM_HED__TCARA_ID__0" runat="server" ListViewName="hem_tc_mh_view"><relatedControl ctl="USER_CGHOM_HED__MH_ID__0_ctl" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__MH_ID__0" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__HC_ID__0_ctl" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HC_ID__0" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__HPCOVER_ID__0_ctl" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HPCOVER_ID__0" type="enable" IDs="3RV43QF4||3RV43QR6" enable="False" page="hed.aspx" /></tes_webcontrols:TGSLGetListDropDown>&nbsp;<tes_webcontrols:TGSLRequiredValidator ID="reqUSER_CGHOM_HED__TCARA_ID__0" runat="server" Branded="False" ControlToValidate="USER_CGHOM_HED__TCARA_ID__0" Display="Dynamic" ShowMandatory="False" EnableClientScript="False" ErrorMessage="cboTCara" Override="True" OverrideErrorMessage="*Required"></tes_webcontrols:TGSLRequiredValidator></span>
             </li>
             <li id="subUSER_CGHOM_HED__MH_ID__0" runat="server" style="display:none;"></li>
             <li id="pUSER_CGHOM_HED__MH_ID__0">
                 <span class="required"><tes_webcontrols:tgslimage id="imgUSER_CGHOM_HED__MH_ID__0" runat="server" UseBranding="True" ImageFileName="required.gif" ImageUrl="~/images/required.gif"></tes_webcontrols:tgslimage></span>
                 <tes_webcontrols:TGSLLabel ID="lblUSER_CGHOM_HED__MH_ID__0" runat="server" AssociatedControlID="USER_CGHOM_HED__MH_ID__0">cboMH</tes_webcontrols:TGSLLabel>
                 <span class="control"><tes_webcontrols:TGSLGetListDropDown id="USER_CGHOM_HED__MH_ID__0" runat="server" ListViewName="hem_mh_cover_view"><relatedControl ctl="USER_CGHOM_HED__HC_ID__0_ctl" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HC_ID__0" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__HPCOVER_ID__0_ctl" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__HPCOVER_ID__0" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /><relatedControl ctl="USER_CGHOM_HED__TCARA_ID__0_ctl" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /><relatedControl ctl="lblUSER_CGHOM_HED__TCARA_ID__0" type="enable" IDs="3RV4H1E4||3RV4H1H7" enable="False" page="hed.aspx" /></tes_webcontrols:TGSLGetListDropDown>&nbsp;<tes_webcontrols:TGSLRequiredValidator ID="reqUSER_CGHOM_HED__MH_ID__0" runat="server" Branded="False" ControlToValidate="USER_CGHOM_HED__MH_ID__0" Display="Dynamic" ShowMandatory="False" EnableClientScript="False" ErrorMessage="cboMH" Override="True" OverrideErrorMessage="*Required"></tes_webcontrols:TGSLRequiredValidator></span>
             </li>
             <li id="subUSER_CGHOM_HED__POSTCODE__0" runat="server" style="display:none;"></li>
             </ol>
             <uc1:PostcodeSearch ID="cmdPostSearch" runat="server" PostcodeLabel="txtPostcode" PostcodeID="USER_CGHOM_HED__POSTCODE__0" PostcodeRequired="true" HouseLabel="txtHouse" HouseID="USER_CGHOM_HED__HOUSE__0" HouseRequired="true" StreetLabel="txtStreet" StreetID="USER_CGHOM_HED__STREET__0" StreetRequired="true" LocalityLabel="txtLocality" LocalityID="USER_CGHOM_HED__LOCALITY__0" LocalityRequired="true" CityLabel="txtCity" CityID="USER_CGHOM_HED__CITY__0" CityRequired="true" CountyLabel="txtCounty" CountyID="USER_CGHOM_HED__COUNTY__0" CountyRequired="true" CountryLabel="txtCountry" CountryID="USER_CGHOM_HED__COUNTRY__0" CountryRequired="true" ShowHelpText="false" />
             <ol class="formlayout">
         </ol>
     </fieldset>
 </div>
</asp:Content>
